doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", type="text/css", href="styles.css")
    title Techwise - B2B e-Commerce Plus Membership Platform
    style.
      .button:hover {
        background-color: #155a8a;
  body
    button#toggleTheme.theme-button Toggle Theme
    .container
      h1 Welcome to
        span.highlight Techwise
      h2 Your Destination for
        span.highlight B2B e-Commerce
      h3 Introduction
      p
        span.highlight Techwise
        | is an innovative platform designed to simplify the purchasing experience for businesses. Our primary focus is on our
        span.highlight Plus Membership
        | program, which offers exclusive benefits such as discounts, free delivery, and much more.
      h3 Key Features
      p
        span.highlight TechTrade
        | offers a range of powerful features including:
      ul
        li
          span.highlight Product Catalog
          | Explore an extensive catalog of products catering to various industries.
        li
          span.highlight User Registration and Google OAuth
          | Sign up easily with traditional methods or through Google OAuth.
        li
          span.highlight Plus Membership
          | Enjoy exclusive benefits like discounts and free delivery with our Plus Membership.
        li
          span.highlight Product Discounts
          | Plus Members receive discounted prices on every product.
        li
          span.highlight Free Delivery
          | Plus Members benefit from free delivery on all purchases.
        li
          span.highlight Payment Integration
          | Secure payments through Stripe and Razorpay.
        li
          span.highlight Mobile-Responsive Design
          | Seamlessly access the platform on all devices.
        li
          span.highlight Product Recommendations
          | Intelligent product recommendations based on user preferences.
        li
          span.highlight Detailed Product Information
          | Access comprehensive product details.
        li
          span.highlight Order Tracking
          | Real-time order tracking for transparency.
        li
          span.highlight Inventory Management
          | Efficient product inventory management for sellers.
        li
          span.highlight Seller Dashboard
          | Dedicated dashboard for sellers.
        li
          span.highlight User Queries
          | Create personalized product queries.
        li
          span.highlight Product Availability
          | Real-time product availability information.
        li
          span.highlight Most Popular Products
          | Discover trending products easily.
    footer.footer
      p
        | &copy; 2023
        span.highlight Techwise
        | . All rights reserved.
      a.button(href="http://localhost:5173/") Go to Client-Side Page
    script(src="script.js")
